/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

.lws-client-ui html,
.lws-client-ui body,
.lws-client-ui div,
.lws-client-ui span,
.lws-client-ui applet,
.lws-client-ui object,
.lws-client-ui iframe,
.lws-client-ui h1,
.lws-client-ui h2,
.lws-client-ui h3,
.lws-client-ui h4,
.lws-client-ui h5,
.lws-client-ui h6,
.lws-client-ui p,
.lws-client-ui blockquote,
.lws-client-ui pre,
.lws-client-ui a,
.lws-client-ui abbr,
.lws-client-ui acronym,
.lws-client-ui address,
.lws-client-ui big,
.lws-client-ui cite,
.lws-client-ui code,
.lws-client-ui del,
.lws-client-ui dfn,
.lws-client-ui em,
.lws-client-ui img,
.lws-client-ui ins,
.lws-client-ui kbd,
.lws-client-ui q,
.lws-client-ui s,
.lws-client-ui samp,
.lws-client-ui small,
.lws-client-ui strike,
.lws-client-ui strong,
.lws-client-ui sub,
.lws-client-ui sup,
.lws-client-ui tt,
.lws-client-ui var,
.lws-client-ui b,
.lws-client-ui u,
.lws-client-ui i,
.lws-client-ui center,
.lws-client-ui dl,
.lws-client-ui dt,
.lws-client-ui dd,
.lws-client-ui ol,
.lws-client-ui ul,
.lws-client-ui li,
.lws-client-ui fieldset,
.lws-client-ui form,
.lws-client-ui label,
.lws-client-ui legend,
.lws-client-ui table,
.lws-client-ui caption,
.lws-client-ui tbody,
.lws-client-ui tfoot,
.lws-client-ui thead,
.lws-client-ui tr,
.lws-client-ui th,
.lws-client-ui td,
.lws-client-ui article,
.lws-client-ui aside,
.lws-client-ui canvas,
.lws-client-ui details,
.lws-client-ui embed,
.lws-client-ui figure,
.lws-client-ui figcaption,
.lws-client-ui footer,
.lws-client-ui header,
.lws-client-ui hgroup,
.lws-client-ui menu,
.lws-client-ui nav,
.lws-client-ui output,
.lws-client-ui ruby,
.lws-client-ui section,
.lws-client-ui summary,
.lws-client-ui time,
.lws-client-ui mark,
.lws-client-ui audio,
.lws-client-ui video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
.lws-client-ui article,
.lws-client-ui aside,
.lws-client-ui details,
.lws-client-ui figcaption,
.lws-client-ui figure,
.lws-client-ui footer,
.lws-client-ui header,
.lws-client-ui hgroup,
.lws-client-ui menu,
.lws-client-ui nav,
.lws-client-ui section {
	display: block;
}
.lws-client-ui body {
	line-height: 1;
}
.lws-client-ui ol,
.lws-client-ui ul {
	list-style: none;
}
.lws-client-ui blockquote,
.lws-client-ui q {
	quotes: none;
}
.lws-client-ui blockquote:before,
.lws-client-ui blockquote:after,
.lws-client-ui q:before,
.lws-client-ui q:after {
	content: '';
	content: none;
}
.lws-client-ui table {
	border-collapse: collapse;
	border-spacing: 0;
}

.lws-client-ui {
	width: auto;
	height: auto;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}

.lws-client-ui .lws-button {
	min-height: 52px;
	width: 380px;
	line-height: 52px;
	border-radius: 3px;
	background-color: #1d505f;
	box-shadow: inset 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
	text-align: center;
	position: relative;
	padding: 0 24px 0 60px;
	cursor: pointer;
}

.lws-client-ui .lws-button span {
	color: #23e6fe;
	font-size: 15px;
	letter-spacing: 0.67px;
	line-height: 52px;
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
}

.lws-client-ui .lws-button__logo {
	box-sizing: border-box;
	height: 38px;
	width: auto;
	display: block;
	position: absolute;
	left: 16px;
	top: 7px;
}

.lws-client-ui .lws-popup {
	display: block;
	width: 0;
	height: 0;
	z-index: -20;
	position: fixed;
	background-color: rgba(32, 42, 51, 0.9);
	left: 0;
	top: 0;
	overflow: hidden;
	overflow-y: scroll;
	color: #c5dce9;
}

.lws-client-ui .lws-popup__container {
	overflow: visible;
	display: block;
	width: 0;
	height: 0;
	margin: 30px auto;
	background: #202a33;
	box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.27);
	border-radius: 3px;
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
}
.lws-client-ui .lws-popup.lws-popup--visible {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 20;
}
.lws-client-ui .lws-popup.lws-popup--visible .lws-popup__container {
	width: 600px;
	min-height: 850px;
	opacity: 1;
}
.lws-client-ui .lws-popup__close {
	position: absolute;
	top: -18px;
	right: -18px;
	cursor: pointer;
	width: 38px;
	height: 38px;
}

.lws-client-ui .lws-popup__header {
	position: relative;
	background: #1f2830;
	border-bottom: 1px solid #43505b;
	border-radius: 3px 3px 0 0;
	padding: 24px 30px;
	display: flex;
	align-items: center;
}
.lws-client-ui .lws-popup__header h1 {
	color: #c5dce9;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 0 25px;
}

.lws-client-ui .err-no-plugin {
	padding: 60px 70px 80px;
}

.lws-client-ui .lws-popup__content .area-title {
	text-align: center;
}

.lws-client-ui .lws-popup__content .area-title h2 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
	padding: 25px 0;
	margin: 0;
	color: #23e6fe;
}

.lws-client-ui .lws-popup__content .area-title h3 {
	font-weight: normal;
	font-size: 21px;
	padding: 0 0 45px;
	margin: 0;
	color: #93b0c1;
}

.lws-client-ui .lws-popup__content .support-text {
	text-align: center;
	line-height: 22px;
	color: #c5dce9;
	padding: 0 0 30px;
	margin: 0 0 1.5em 0;
}

.lws-client-ui .lws-popup__content .sk-btn {
	display: block;
	-webkit-transition: background 0.5s ease;
	transition: background 0.5s ease;
	height: 60px;
	box-sizing: border-box;
	border-radius: 3px;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	line-height: 60px;
}
.lws-client-ui .lws-popup__content .sk-btn.sk-btn__disabled {
	opacity: 0.5;
	pointer-events: none;
}

.lws-client-ui .lws-popup__content .sk-btn.sk-btn__primary {
	color: #fff;
	background: linear-gradient(0deg, #09a8ba 0%, #0abbd0 100%);
	border: 0;
	width: 100%;
}
.lws-client-ui .lws-popup__content .sk-btn.sk-btn__primary:hover {
	background: linear-gradient(45deg, #09a8ba 0%, #0abbd0 100%);
}
